.carousel-text-bg {
    background-color: rgba(247, 243, 243, 0.5);
    display: flex;
    flex-direction: column;
    font-size: 80%;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.nav-pad {
    margin-top: 80px !important
}

.footer-media-logo {
    font-size: 25px;
    color: white;


}